*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}
.main-menu{
    /* width: 1400px;
    margin: auto; */
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}
.fixed-width{
    width: 1080px;
    margin: auto;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
img{
    max-width: 100%;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
/* Header part */
.header{
    background-color: #ffffff;
    padding: 5px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999999;
}
.logo{
    width: 30%;
}
.header-span {
	font-size: 20px;
	line-height: 57px;
	padding-left: 16px;
	font-weight: 500;
	transition: .3s;
}
.header-span:hover{
    color: #a09999;
    cursor: pointer;
}
.image {
	width: 50px;
	margin-top: 5px;
}
.menu{
    width: 57%;
}
.menu-item{
   
}
.menu-item ul{
    list-style: none;
}
.menu-item ul li{
    display: inline-block;
}
.menu-item ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
    display: block;
    line-height: 60px;
}
.menu-item ul li a:hover{
    color: #6278df;
}
.button{
    width: 13%;
}
.defalt-button {
	display: inline-block;
	padding: 8px 23px;
	font-size: 17px;
	font-weight: 700;
	margin-top: 10px;
    border: none;
    border: 2px solid #6278df;
    border-radius: 6px;
    background-color: white;
    color: #6278df;
    text-decoration: none;
    transition: .5s;
   
}
.defalt-button:hover{
    background-color: #6278df;
    color: white;
    box-shadow: 2px 2px 21px -2px #6278df;
}
/* drop down menu */
.menu-item ul li{
    position: relative;
}
.menu-item ul li ul{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    width: 199px;
}
.menu-item ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.menu-item ul li:nth-child(3):hover ul{
    width: 250px;
}

.menu-item ul li ul li{
    display: block;
    border-top: 1px solid #ddd;
}
.menu-item ul li ul :nth-child(1){
    border-top: none;
}
.menu-item ul li ul li a{
    display: block;
}
.menu-item ul li ul li a:hover{
    color: #6278df;
}
/* banner */
.banner{
    background-image: url(./mbr-4.jpg);
    background-position: center center;
    background-size: cover;
    padding: 180px 0;
    position: relative;
    z-index: 1;
    text-align: center;
}
.banner::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner-contant{
    color: white;
    text-align: center;

}

.banner-contant h4 {
	font-weight: 400;
	font-size: 25px;
}
.banner-contant h2 {
	font-size: 56px;
	margin: 30px 0;
}
.btn {
	text-decoration: none;
	background-color: white;
	color: #7d7d7d;
	display: inline-block;
	width: 203px;
	height: 64px;
	line-height: 64px;
	border-radius: 6px;
	font-size: 22px;
	font-weight: 500;
	margin-left: 10px;
	margin-right: 10px;
	
    transition: .5s;
}
.btn:hover{
    color: white;
    background-color: #6278df;
}
/* container */
.left-content{
    width: 48%;
}

.right-content{
    width: 48%;
}
.container{
    padding: 80px 0;
    background-color: #f7f9ff;
    width: 100%;
    height: 360px;
}
.right-content h1 {
	font-size: 37px;
	font-weight: 400;
}
.right-content p {
	font-size: 23px;
	margin-top: 22px;
	color: #867687;
	font-weight: 300;
}
/* learn-more */
.learn-div {
	width: 31%;
	background-color: white;
	box-sizing: border-box;
	padding: 20px;
	height: 220px;
	margin-right: 15px;
	margin-top: 20px;
	margin-left: 8px;
    box-shadow: 3px 4px 30px 0 rgba(98,120,223,.2);
}
.learn-div:hover{
    box-shadow: 3px 4px 30px 0 rgba(98,120,223,.6)
}
.icon{
    width: 20%;
}
.lorem{
    width: 70%;

}

.learn-more{
    background-color: #ffffff;
    height: 800px;
}

.learn-more h1 {
	padding-top: 61px;
	font-size: 47px;
	padding-bottom: 30px;
}
.learn-p {
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 50px;
    color: #818181;
}
.icon i{
    color: #6278df;
    font-size: 40px;
    margin-top: 30px;
}
.lorem p {
	font-size: 16px;
	margin-top: 30px;
	color: #867e7a;
}
.lorem h3 {
	font-weight: 500;
	font-size: 22px;
    margin-top: 30px;
}
/* content 3 */
.content3{
    height: 1000px;
    background-color: #f7f9ff;

}
.contenth3 {
	color: #000000;
	text-align: center;
	font-weight: 400;
	font-size: 46px;
	padding: 50px 0;
}
.contenth4{
    color: #808080;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 70px;
    margin-top: -20px;

}
.item{
    width: 31%;
    margin-right: 10px;
    float: left;
    box-shadow: 3px 4px 30px 0 rgba(98,120,223,.2);
    background-color: white;
    margin-left: 10px;
    padding-bottom: 40px;
}
.item1{
	padding: 30px;
    border-bottom: 1px solid gray;
}
.item1 h3 {
	font-size: 22px;
	font-weight: 500;
	padding-bottom: 20px;
}
.item1 h4 {
	font-weight: 500;
	font-size: 17px;
}
.item1 h1 {
	font-size: 44px;
	margin-bottom: 44px;
}
.item1 p {
	color: #2c1919;
	padding-top: 18px;
    font-weight: 300;
    font-size: 17px;
}
.item1 span{
    font-size: 20px;
}
.item2{

}
.item2 ul{
    list-style: none;
    margin-left: 20px;
}
.item2 ul li {
	padding-top: 21px;
	margin-left: 20px;
	color: #8a7a8f;
	font-weight: 300;
	font-size: 20px;
}
.item2 span {
	font-size: 26px;
	color: #6278df;
	margin-left: -5px;
	padding-right: 10px;
    margin-top: 20px;

}
.bottton {
	text-decoration: none;
	background-color: white;
	color: #6278df;
	display: inline-block;
	width: 175px;
	height: 50px;
	line-height: 52px;
	border-radius: 6px;
	font-size: 20px;
	font-weight: 500;
	box-shadow: 3px 4px 30px 0 rgba(67, 72, 95, 0.6);
	margin-top: 51px;
	text-align: center;
}
.button-div{
    text-align: center;
}
.item:hover .item1{
    background-color: #6278df;
    color: white;
    transition: .3s;
}
.item:hover .bottton{
    background-color: #6278df;
    color: white;
    transition: .3s;
}
.item:hover .item1 p{
    color: white;
    transition: .3s;
}
.bottton:hover{
    background-color: black !important;
    
}

/* content 4 */
.content4{
    background-color: #ffffff;
    height: 600px;
}
.content4 h1{
    text-align: center;
    font-weight: 500;
    padding: 60px 0;
    font-size: 35px;
}
.team{
    width: 22%;
    float: left;
    box-shadow: 3px 4px 30px 0 rgba(67, 72, 95, 0.2);
    margin-left: 18px;
    margin-right: 10px;
    transition: .3s;
}
.team:hover{
    box-shadow: 3px 4px 30px 0 rgba(9, 44, 199, 0.4);
}
.team img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.team h3{
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 22px;
}
.team p{
    font-size: 16px;
    font-weight: 400;
    color: #808080;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
}
/* content5 */
.content5{
    background-color: #f7f9ff;
    height: 480px;
}
.content5 h3 {
	text-align: center;
	padding-top: 99px;
	font-weight: 300;
	font-size: 28px;
	color: #767676;
}
.content5 h1{
    text-align: center;
    font-weight: 400;
    font-size: 45px;
    padding-top: 30px;
}
.form-div {
	text-align: center;
	padding-top: 56px;
	margin-right: 30px;
}
.text {
	padding: 0px 20px;
	width: 320px;
	/* border: 1px solid #6278df; */
	height: 60px;
	font-size: 20px;
	font-weight: 300;
	margin-right: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 3px 4px 30px 0 rgba(67, 72, 95, 0.1);
}
.text:focus{
    border: 1px solid #6278df;
    box-shadow: 3px 4px 30px 0 rgba(67, 72, 95, 0.6);

}
.ema{
    padding: 0 80px;
    background-color: #6278df;
    color: white;
    border: none;
    border: 2px solid #6278df;
    border-radius: 5px;
    font-size: 20px;
    height: 63px;
    box-shadow: 3px 4px 30px 0 rgba(67, 72, 95, 0.1);
    font-weight: 600;
}
.ema:hover{
    background-color: white;
    color: #6278df;
    box-shadow: 3px 4px 30px 0 rgba(67, 72, 95, 0.4);
    border: 2px solid #6278df;
}
.content6{
    height: 250px;
    background-color: white;

}
.heading-left{
    float: left;
    width: 48%;
}
.heading-left h1{
    font-size: 40px;
    padding-top: 100px;
    font-weight: 500;
}
.heading-right{
    float: right;
    width: 48%;
}
.heading-right p{
    color: #767a7a;
    padding-top: 100px;
    font-size: 18px;
    line-height: 1.6em;
}
.my-div{
    height: 280px;
}
.my1{
    float: left;
    width: 49%;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.4);
}
.my2{
    float: right;
    width: 49%;
    box-shadow: 3px 4px 30px 0 rgba(79, 88, 129, 0.4);
}
.my1:hover{
    box-shadow: 3px 4px 30px 0 rgba(68, 76, 109, 0.5);
}
.my2:hover{
    box-shadow: 3px 4px 30px 0 rgba(74, 82, 117, 0.5);
}

.chobi{
    width: 50%;
    float: left;
    border-radius: 5px 0 0 5px;
}
.line{
    width: 50%;
    float: right;
}
.chobi img{
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 5px 0 0 5px;
}
.line h3 {
	font-weight: 500;
	font-size: 22px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.line p {
	padding:  10px 20px;
	font-size: 18px;
	font-weight: 300;
	color: #808080;
}
/* testimonial */
.testimonial{
    height: 570px;
    background-color: #f7f9ff;
}
.testimonial h4 {
	text-align: center;
	font-weight: 300;
	padding-top: 40px;
	color: #7e7676;
	font-size: 25px;
}
.testimonial h1 {
	text-align: center;
	font-weight: 500;
	font-size: 46px;
	padding-top: 26px;
	padding-bottom: 57px;
}
.test {
	width: 30%;
	margin-left: 46px;
}
.test:nth-child(1){
    margin-left: 0;
}
.test1{
    background-color: #ffffff;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.4);
    position: relative;
}
.test1:hover{
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.8);
}
.test1::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
}
.test1 p{
	font-size: 22px;
	text-align: center;
	font-weight: 300;
	color: #808080;
	padding: 40px;
	box-sizing: border-box;
    position: relative;
}
.test1 p::before{
    content: "\f10d ";
   font-family: "FontAwesome";
   position: absolute;
   font-size: 60px;
   opacity: 0.2;
   top: 10px;
   left: 30px;
}
.test2{

}
.test img {
	max-width: 100%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
	margin-left: 72px;
	margin-top: 30px;
}
.test2 h3 {
	padding: 8px;
	font-weight: 500;
	font-size: 20px;
	margin-top: ;
	position: relative;
	top: 27px;
	left: 26px;
}
.test2 h5 {
	font-weight: 400;
	font-size: 15px;
	color: #767678;
	position: relative;
	top: 25px;
	left: 27px;
}
/* Contact */
.contact{

}
.left-map{
    width: 48%;
}
.right-form{
    width: 48%;
}
.contact-map{

}
.right-form{}
.right-form h2 {
	font-weight: 500;
	font-size: 30px;
	padding-top: 88px;
	padding-bottom: 14px;
}
.right-form p {
	font-size: 19px;
	color: #918989;
	font-weight: 300;
	line-height: 28px;
    padding-bottom: 50px;
}
.email {
	padding: 0px 18px;
	width: 471px;
	height: 75px;
	font-size: 20px;
	color: #918989;
	font-weight: 300;
	border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #e4e5eb;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.1);
    
}
.email:focus{
    border: 1px solid #6278df;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.7);
}

.name {
	padding: 0px 18px;
	width: 205px;
	height: 75px;
	font-size: 20px;
	color: #918989;
	font-weight: 300;
	border-radius: 5px;
	border: none;
	outline: none;
	border: 1px solid #e4e5eb;
	box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.1);
	margin-right: 18px;
}
.name:focus{
    border: 1px solid #6278df;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.7);
}
.number{
    padding: 0px 18px;
	width: 205px;
	height: 75px;
	font-size: 20px;
	color: #918989;
	font-weight: 300;
	border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #e4e5eb;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.1);

}
.number:focus{
    border: 1px solid #6278df;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.7);
}
.message{
    padding: 20px 18px;
	width: 471px;
	font-size: 20px;
	color: #918989;
	font-weight: 300;
	border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #e4e5eb;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.1);

}
.message:focus{
    border: 1px solid #6278df;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.7);
}
.bot {
	height: 62px;
	width: 104px;
	font-size: 20px;
	font-weight: 500;
	background-color: #6278df;
	color: white;
	border: 2px solid #6278df;
	border-radius: 5px;
    transition: .4s;
}
.bot:hover{
    background-color: white;
    color: #6278df;
    box-shadow: 3px 4px 30px 0 rgba(70, 78, 114, 0.7);
}
.footer{

}
.foot{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
.dot{
   color: #918989; 
}